* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Poppins', sans-serif;
    background: #F9FAFB;
}

.container{
    display: flex;
}
.sidebar{
    background: #0d1b2a;
    color: white;
    width: 220px;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    transition: width 0.3s ease;
}

.title {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none; /* ini penting kalau pakai <a> */
  }

#brandTitle{
    font-size: 30px;
}

.schedule{
    max-height: 260px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    
}

.table-wrapper {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 8px;
      max-height: 520px;
      border: 1px solid #dee2e6; 
      
      
    }

    .left-schedule::-webkit-scrollbar {
        display: none;
        
      }
.left-schedule{
    overflow: hidden;
  display: flex;
}

.table-custom {
    border-collapse: collapse;
    border-radius: 8px !important;
  }

  

  .right-bottom {
    display: flex;
    
    padding-top: 0;
    border-radius: 12px;
    max-height: 260px;
    overflow-y: auto;
  }

  .right-bottom::-webkit-scrollbar {
    display: none; 
  }

  .scroll-area {
    max-height: 20px; /* Ubah sesuai kebutuhan */
    overflow-y: auto;
    padding-right: 4px;
  }
  
  
  
  /* Supaya judul "Online students" tetap di atas */
  .student-title {
    position: sticky;
    top: 0;
    background-color: #d0e0e5; /* samakan dengan background section */
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  
  
